.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.LocationSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.locationInput {
  width: 100%;
  padding: 18px 20px 18px 48px;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  outline: none;
  height: 56px;
}

.locationInput::placeholder {
  color: #6c717b;
}

.locationInput:focus {
  color: #101828;
}

.FilterSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 24px) / 3);
  height: 85px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  transition: border-color 250ms ease-in-out;
  gap: 4px;
  user-select: none;
  outline: none;
  text-align: center;
}

.itemActive {
  border-color: #e44848;
}

.label {
  color: rgba(16, 24, 40, 0.6);
  font-size: 16px;
  line-height: 1.5;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 20px;
  fill: #6c717b;
  transition: fill 250ms ease-in-out;
  pointer-events: none;
}

.inputWrapper:focus-within .inputIcon {
  fill: #101828;
}

.filterTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.FilterGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.groupTitle {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
}

.line {
  border: none;
  border-top: 1px solid #dadde1;
}

.categoriesGrid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px 12px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.item span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
}

.item:hover,
.item:focus {
  border-color: #e44848;
}

/* .item:focus-within {
  border-color: #101828;
} */

.itemActive {
  border-color: #e44848;
}

.searchBtn {
  padding: 16px 60px;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .item {
    width: 112px;
    height: 95px;
    gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
      width: 360px;
  }

}
