.badge {
  color: #101828;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-size: 16px;
  text-transform: capitalize;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  text-transform: capitalize;   
}

@media screen and (max-width: 375px) {
  .badge {
  gap: 4px;
  padding: 8px 12px;
}

.text {
  font-size: 14px;
}
}