.tabButtons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #dadde1;
    margin-bottom: 44px;
}

.tabBtn {
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    cursor: pointer;
    position: relative;
    transition: color 200ms ease-in-out;
}

.tabBtnActive:after {
    content: "";
    width: 100%;
    height: 5px;
    background-color:  #e44848;
    position: absolute;
    bottom: -27px;
    left: 0;

}

.tabBtn:hover {
    color:  #e44848;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tabContent {
    max-width: 335px;
    flex: 1;
}

.booking {
        min-width: 100%;
    }


@media screen and (min-width: 768px) {

.tabContent {
    max-width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .tabContent {
        max-width: 631px;
    }

    .contentWrapper {
        flex-direction: row;
    }

    .booking {
    min-width: 641px;
}
}